<footer class="footer">
  <div class="d-sm-flex d-inline col-12 p-0 mt-5">

    <div class="d-flex col p-0 col justify-content-around">
      <span class="text-muted my-auto">&copy; 2021 Darknet</span>
      <a class="text-muted my-auto " href="https://docs.github.com/en/github/site-policy/github-privacy-statement">
        Privacy & Terms&Conditions
      </a>
		</div>
    <!--Social network icons link-->
    <div class="d-flex col p-0 col justify-content-around">
			<a href="https://github.com/Kryptic2020/darknet">
        <%= image_tag "github-icon.png"%>
      </a>
			<a href="https://www.linkedin.com/in/edson-nascimento-20438247/">
        <%= image_tag "linkedin-icon.png"%>
      </a>
			<a href="mailto:thi_suzuki@hotmail.com">
        <%= image_tag "email.png"%>
      </a>
  	</div> 
  </div> 
</footer>