<h1>Payment Success</h1>
<p>Payment Successfuly processed for cart number <strong></strong><%= @cart.id%> !</strong></p>

<%= link_to 'Go back homepage', root_path, class:"btn btn-info btn-lg btn-block my-3" %>
