<div class="jumbotron">
  <h3 class="display-5">Payment Success!</h3>
  <hr class="my-3">
  <%= link_to 'Go back homepage', root_path, class:"btn btn-info" %>
</div>
<p>Payment Successfuly processed, <strong></strong><%= link_to "View your receipt", @cart.payment.receipt_url, target: :_blank %> !</strong></p>
