/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 
 

 */
@import "bootstrap";
body{   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{min-height: calc(100vh - 120px); }
.blue{background-color: blue;}
.red{background-color: red;}
.greem{color: green;}
.black{background-color: #000000;}
.grey{background-color:#343A3F;}
.l-grey{background-color:#5a6065;}
.white{background-color: #ffffff;}
.t-black{color: #000000;}
.t-white{color: #ffffff;}
.t-blue{color: blue;}
.t-red{color: red;}
.t-greem{color: green;}
.t-pink{color: rgb(250, 122, 144);}
.b-radius{border-radius: 5px;}
.jumbotron {
  background-color: #343A3F;
  color: #ffffff;
  margin-top: 50px;
}

.jumbotron hr{
  background-color: #ffffff; 
}
.dash{
  min-height: 200px;
  max-height: 900px;
  overflow-y: scroll;  
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 70px;
    line-height: 70px;    
    background-color: #f5f5f5;
}

.landing-page {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  z-index: -1;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .landing-page {
    left: 50%;
    margin-left: -512px;   /* 50% */
    z-index: -1;
    
  }
}

@media only screen and (max-width: 600px) {
  .jumbotron h3{
  font-size: 16px;
}
.footer{
  height: 120px;
  line-height: 60px;
  
}
}


