<div class="jumbotron">
  <h3 class="display-5">Edit Product!</h3>
  <p class="lead"></p>
  <hr class="my-4">
</div>
<%= render 'form', product: @product %>

  <div class="bg-light p-3"> 
  <%= link_to 'Back', products_path, class:"btn btn-secondary btn-lg btn-block mb-5" %>
  </div>

