<div class="jumbotron mx-auto col-lg-8">
  <h3 class="display-5">Add New Product!</h3>
  <hr class="my-3">
  <%= link_to 'Back', products_path, class:"btn btn-info" %>
</div>

<%= render 'form', product: @product %>


